* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair_Display";
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

body > *{
  font-family: "Roboto", sans-serif;
  padding: 5%;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  height: 40px;
}

/*  header start  */
.profile-pic {
  position: relative;
  box-shadow: 3px 3px 10px grey;
  /* margin-bottom: 30px; */
}

.profile-pic img {
  object-fit: cover;
  background-position: center;
}

.name {
  font-family: "Playfair_Display", sans-serif;
  position: absolute;
  bottom: 5px;
  left: 15px;
  color: white;
  font-size: 5rem;
}

.about-text {
  gap: 20px;
  padding: 10px;
}

.about-text h3 {
  font-family: "Playfair_Display";
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.about-text > p {
  color: #565656;
  font-size: 1.2rem;
}

header {
  /* min-height: 100vh; */
  background: linear-gradient(154deg, #0891b2 50%, white 50%);
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

 /* end */

.projects-container{
  display: grid;
  /* justify-content: space-around; */
  /* align-items: end; */
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 70px;
  padding: 20px;
  margin-bottom: 50px;
}

.work {
  font-family: "Playfair_Display";
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  padding: 20px;
}

.projects {
  min-height: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 15px grey;
}

.project-image {
  flex-grow: 2;
  background-color: #4692d9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-family: "Playfair_Display";
  padding: 10px;
  text-align: center;
}

.project-title {
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px 20px;
} 

.project-title img {
  height: 1.5rem;
  flex: 1;
}

.project-title p{
  font-family: "Playfair_Display";
  font-weight: 600;
  font-size: 1.5rem;
  flex: 1;
}

.project-desc {
  flex-grow: 1;
  color: #595959;
  text-align: center;
  padding: 0 20px;
}

footer {
  padding: 0;
  color: white;
  background: #0891b2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-image  img {
  min-width: 300px;
  height: 480px;
  object-fit: cover;
  object-position: center;
}

.contact-me-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.contact-header {
  font-family: "Playfair_Display";
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

.contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.contacts img {
  height: 1.4rem;
}

.contact-request {
  font-weight: 400;
  font-size: 1.5rem;
}

@media screen and (min-width: 678px) { 
  .work {
    text-align: left;
  }
  footer {
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
  }
  .contact-header {
    text-align: left;
    font-size: 2.6rem;
  }
  .contact-request {
    font-size: 1.1rem;
  } 
  footer .socials {
    justify-content: flex-start;
  } 

  /* header start  */

  header {
    padding: 50px;
  }

  .profile-pic {
    float: left;
    height: 300px;
    width: 300px;
    z-index: 2;
    margin: 20px;
    position: relative;
    margin-top: -110px;
    margin-left: -50px;
  }
  
  .about-text {
    position: relative;
    padding: 30px;
    box-shadow: 3px 3px 10px grey;
    background-color: white;
    top: 5rem; 
  } 
  header .socials {
    justify-content: flex-end;
  }
     
  .profile-pic img{
    height: 100%;
    width: 100%;
  }
  .name {
    font-size: 3.5rem;
    bottom: auto;
    left: auto;
    top: 0%;
    right: -110%;
  }
}

@media screen and (min-width: 1030px) {
  header {
    padding: 70px;
  }
  .about-text {
    top: auto;
    display: grid;
    grid-template: auto auto auto/ auto auto;
    align-items: center;
    gap: 20px;
  }
  .about-text > p {
    font-size: 1.5rem;
  }
  .about-text h3 {
    text-align: left;
  }

  .profile-pic {
    height: 450px;
    width: 450px;
    margin: -60px;
    margin-right: 0px;
    grid-row: 1/4;
  }
  .name {
    top: auto;
    right: auto;
    bottom: 0;
    left: auto;
  }
  footer {
    padding: 50px;
    justify-content: space-between;
  } 

}
